/* General Colors */
$primary-color: black;
$secondary-color: orange;
$main-bg-cream: #FFF5E9;
$header-bg: #FFD5A2;

/* Fonts */
$font-main: 'Roboto Mono', monospace;
$font-titles: 'Quicksand', sans-serif;

/* Hamburger menu */
$toggler-duration: 0.5s;
$toggler: black;
$toggler-bg: transparent;
$lines-icon-witdh: 40px;
$lines-icon-height: 1px;